@tailwind base;
@tailwind components;
@tailwind utilities;
/* Set Lato as the global font */
@layer base {
	html, body, #root {
		font-family: 'Lato', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
	}
}

@layer utilities {
	/* Utility to hide native scrollbars across browsers */
	.hide-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
	.hide-scrollbar::-webkit-scrollbar {
		display: none; /* Chrome, Safari, Opera */
	}
}
